$container-max-widths: (
  sm: 720px,
  md: 960px,
  lg: 1140px,
  xl: 1680px
);

$primary: #089bd7;
$primaryhover: #0884b4;
$warning: #f89623;

$link-color: #089bd7;
$input-border-radius: 0;

$button-text: #515151;
$button-bg: #f6f6f6;
$button-border: #a1a1a1;
//Telerik Theme variables
$border-radius: 2px;
$grid-alt-bg: initial;
